{% extends 'frontend/base.html' %}
{% block content %}
    <div class="homeQuestao">

        <div class="info-bar">
            <p class = "cargo">CARGO : {{cargo}}</p>
            <p class = "ano">ANO : {{ano}}</p>
            <p class = "banca">BANCA : {{banca}}</p>
            <p class = "orgao">ORGAO : {{orgao}}</p>
        </div>

        <div>
            <br />
            <p class="comando">{{comando}}
            </p>
            <br />

            <p class="textoItem">
            {{texto_item}}
            </p>
            {% if respondido == False %}
            </br>
            <form action="{% url 'questao' %}" method="post">
                {% csrf_token %}

                {{ form }}

                <input type="submit" value="Responder" />

            </form>

            {% else%}


            {% if resultado%}
            <b>Acertou !</b>
            {%else%}
            <b>Errou !</b>

            {% endif %}
            <form action='/q_e' method="post" enctype="multipart/form-data">
                {% csrf_token %}
            {% if gabarito == "Errado"%}
            
                

                {{ form.as_p }}

                <textarea class = "correcaoinput" name = "campo_texto">{{texto_item}}</textarea>
                
               
            {%else %}
                {{ form.as_p }}
                <input class = "correcaoinput" type = "hidden" value = "{{texto_item}}" name = "campo_texto"/>
                
                

            {% endif %}
                <input type="hidden" value={{id}} name="user_id" />
                <input type="hidden" value={{resultado}} name="resultado" />
                <input type="hidden" value="{{texto_item}}" name="texto_item" />
                <input type="hidden" value="{{ano}}" name = "ano" />
                <input type="hidden" value="{{cargo}}" name = "cargo" />
                <input type="hidden" value="{{banca}}" name = "banca" />
                <input type="hidden" value="{{orgao}}" name = "orgao" />

                <br/>
                <input type="submit" value="Enviar" />


            </form>

            {% endif %}
        </div>

    </div>

{% endblock content %}

</html>