{% extends 'frontend/base.html' %}
{% block content %}
    <div class="homeQuestao">

        <div class="info-bar">
            <p>ID :{{id}}</p>
            <p>CARGO : {{cargo}}</p>
            <p>ANO : {{ano}}</p>
            <p>BANCA : {{banca}}</p>
            <p>ORGAO : {{orgao}}</p>
            <p>ASSUNTO : {{assunto}}</p>
        </div>

        <div>
            <br />
            <p class="comando">comando :<br>{{comando}}
            </p>
            <br />

            <p class="textoItem">
                Texto Item : <br>{{texto_item}}
            </p>
            {% if respondido == False %}
            <form action="{% url 'questao' %}" method="post">
                {% csrf_token %}

                {{ form }}

                <input type="submit" value="Submit" />

            </form>

            {% else%}


            {% if resultado%}
            Acertou !
            {%else%}
            Errou !

            {% endif %}
            <form action='/q_e' method="post" enctype="multipart/form-data">
                {% csrf_token %}
            {% if gabarito == "Errado"%}
            
                

                {{ form.as_p }}

                <input class = "correcaoinput" type = "text" value = "{{texto_item}}" name = "campo_texto" style="text-transform:uppercase" /> />
                
               
            {%else %}
                {{ form.as_p }}
                <input class = "correcaoinput" type = "hidden" value = "{{texto_item}}" name = "campo_texto"/>
                
                

            {% endif %}
                <input type="hidden" value={{id}} name="user_id" />
                <input type="hidden" value={{resultado}} name="resultado" />
                <input type="hidden" value="{{texto_item}}" name="texto_item" />
                <input type="hidden" value="{{ano}}" name = "ano" />
                <input type="hidden" value="{{cargo}}" name = "cargo" />
                <input type="hidden" value="{{banca}}" name = "banca" />
                <input type="hidden" value="{{orgao}}" name = "orgao" />

                <input type="submit" value="Submit" />


            </form>

            {% endif %}
        </div>

    </div>

{% endblock content %}

</html>